{% extends 'layouts/base.html' %}

{% block title %} main{% endblock title %}

{% block content %}
<style>
    .btn-wrapper a {
        width: 200px;
        height: 200px;
        padding-top: 70px;
    }

    .fa-right-to-bracket {
        color: white;
        display: block;
        margin-top: 20px;
    }
    .fa-circle-check {
        margin-right: 10px;
    }
    .fa-pen-to-square {
        margin-right: 10px;
    }
</style>
<div class="container">
    {% if messages %}
    <ul class="ms-auto" role="alert" style="text-align: center; position: absolute; top: 30px; right: 50px; width: 450px;">
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <li class="alert alert-success" style="list-style: none; display: block; margin-bottom: 10px; text-align: left;">
                    <i class="fa-regular fa-circle-check"></i>{{ message }}
                </li>
            {% endif %}
            {% if 'info' in message.tags %}
                <li class="alert alert-info" style="list-style: none; display: block; margin-bottom: 10px; text-align: left;">
                    <i class="fa-solid fa-pen-to-square"></i> {{ message }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <div class="btn-wrapper mx-auto w-100 d-flex justify-content-center" style="position: relative; top: 200px;">
        <a class="btn btn-dark mx-3" href="{% url 'authenticate:student-sign' %}">Enroll as Student<i
                class="fa-solid fa-right-to-bracket"></i></a>
        <a class="btn btn-danger" href="{% url 'authenticate:sponsor-sign' %}">Enroll as Sponsor<i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
</div>
{% endblock content %}