{% extends 'layouts/base.html' %}
{% block title %}base{% endblock title %}

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .link-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .wrapper-inner {
        border: 1.5px solid #777;
        padding: 90px 50px;
    }

    .link-wrapper a:nth-child(1) {
        margin-right: 12px;
    }
    .link-wrapper a:nth-child(2) {
        margin-right: 12px;
    }
    .fa-circle-check {
        margin-right: 10px;
    }
    .fa-right-from-bracket {
        margin-right: 10px;
    }
    .fa-arrow-right-to-bracket {
        margin-right: 10px;
    }
    .fa-user {
        margin-right: 10px;
    }
</style>
<div class="container">
    {% if messages %}
    <ul class="ms-auto" role="alert" style="text-align: center; position: absolute; top: 30px; right: 50px; width: 450px;">
        {% for message in messages %}
            {% if 'suc-sign' in message.tags %}
                <li class="alert alert-success" style="list-style: none; display: block; margin-bottom: 10px; text-align: left;">
                    <i class="fa-regular fa-circle-check"></i> {{ message }}
                </li>
            {% endif %}
            {% if 'logout' in message.tags %}
                <li class="alert alert-danger" style="list-style: none; display: block; margin-bottom: 10px; text-align: left;">
                    <i class="fa-solid fa-right-from-bracket"></i> {{ message }}
                </li>
            {% endif %}
            {% if 'login' in message.tags %}
                <li class="alert alert-success" style="list-style: none; display: block; margin-bottom: 10px; text-align: left;">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> {{ message }}
                </li>
            {% endif %}
            {% if 'sponsor-enroll' in message.tags %}
            <li class="alert alert-info" style="list-style: none; display: block; margin-bottom: 10px; text-align: left;">
                <i class="fa-regular fa-circle-check"></i> {{ message }}
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <div class="link-wrapper">
        <div class="wrapper-inner">
            {% if request.user.is_authenticated %}
            <h1 class="btn btn-info d-block my-3"><i class="fa-regular fa-user"></i> Account is log as {{ request.user.full_name }}</h1>
            <a class="btn btn-warning p-4" href="{% url 'authenticate:logout-sam' %}">Logout</a>
            <a class="btn btn-warning p-4" href="{% url 'authenticate:home' %}">Authentication</a>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <a class="btn btn-info p-4" href="{% url 'authenticate:signup' %}">Register</a>
            <a class="btn btn-danger p-4" href="{% url 'authenticate:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}