{% extends 'layouts/base.html' %}

{% block title %} main{% endblock title %}

{% block content %}
<style>
    .btn-wrapper a {
        width: 200px;
        height: 200px;
        padding-top: 70px;
    }

    .fa-right-to-bracket {
        color: white;
        display: block;
        margin-top: 20px;
    }
</style>
<div class="container">
    {% if messages %}
    <ul class="w-25 ms-auto" role="alert" style="text-align: center; position: absolute; top: 30px; right: 50px;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} alert alert-success " style="list-style: none; display: block; margin-bottom: 10px; text-align: left;" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="btn-wrapper mx-auto w-100 d-flex justify-content-center" style="position: relative; top: 200px;">
        <a class="btn btn-dark mx-3" href="{% url 'authenticate:student-sign' %}">Signup as Student<i
                class="fa-solid fa-right-to-bracket"></i></a>
        <a class="btn btn-danger" href="#">Signup as Sponsor<i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
</div>
{% endblock content %}